*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body{
    height: 100%;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
 width: 100%;
 background-size: cover;
 min-height: 800px;  /*concertou o conflito que quebrava o dispositivo*/
 padding: 40px 2%;
 height: 90vh;
 /*max-height: 700px;*/
 background-position: center;
 background-image: url('../imagens/capa.png');
 font-weight: 600;
 }

header nav{
    float: right;
}

nav.mobile-menu{
    cursor: pointer;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url('../imagens/menu.png');
    background-size: 100% 100%;
    text-align: center;
}

nav.mobile-menu:hover ul{
    opacity: 1;
}

nav.mobile-menu ul li{
    border-bottom: 1px solid black;
    padding: 8px 0;
    transition: 0.4s;
}

nav.mobile-menu ul li:hover{
    background-color: rgba(230, 230, 230, 0.5);
}

nav.mobile-menu ul{
    opacity: 0.5;
    transition: 1s;
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    list-style-type: none;
}

nav.mobile-menu ul li a{
    text-decoration: none;
    color: black;
}

header .logo{
    background-image: url(../imagens/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    width: 150px;
    height: 75px;
}

header nav.desktop-menu li{
    float: left;
    margin: 0 20px;
}

header nav.desktop-menu ul{
    list-style-type: none;
}
header nav.desktop-menu li  a{
    color: white;
    text-decoration: none;
}

.chamada1{
    max-width: 600px;
    float: right;
    margin: 140px 150px;
}

.chamada1 h2{
    font-size: 40px;
    color: white;
    font-weight: 400;
}

.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

section.sessao1{
    width: 100%;
    background-color: #472562;
    padding: 0 2%;
    height: 400px;
}

section.sessao1 .container{
    max-width: 1000px;
    height: calc(100% + 30px);
}
.texto-sessao1{
    float: left;
    position: relative;
    left: 55px;
    color: white;
    width: 50%;
    margin-top: 60px;
    padding-left: 80px;
}

.texto-sessao h2{
     font-weight: 300;
     font-size: 26px;
}

.texto-sessao p{
    font-size: 15px;
    margin-top: 20px;
}

.texto-sessao1 ul{
   font-size: 15px; 
   list-style-position: outside;
   padding-left: 15px;
} 
.texto-sessao1 ul li{
    float: left; 
    width: 100%;
    margin-top: 8px;
}

.btn1-texto{
    background-color: #ff703d;
    width: 165px;
    height: 44px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
}

.divice-sessao1{ 
    float: left;  
    width: 50%;
    height: 430px; /*a diferença compensou aqui do top -30*/
    position: relative;
    top: -30px;
    background-image: url('../imagens/device.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sessao2{
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    text-align: center;  
    padding-top: 40px;
}

.sessao2 h2{
    color: #472663;
    font-weight: 300;
}

.sessao2 p{
    margin-top: 30px;
    max-width: 900px;
    display: inline-block;
}

.sessao2 .container{
    max-width: 1000px;
}

.sessao2 img{
    position: relative;
    top: 70px;
    width: 100%;
    margin-top: 10px;
}

.sessao3{
    width: 100%;
}

.parte1{
    color: white;
    float:left;
    width: 50%;
    padding: 140px 0 90px 0;
    background: #835fa7;
} 

.wraper-part1{

    max-width: 600px;
    float: right;
    padding: 0 30px;
 }

.parte1 h2{
    font-weight: 300px;
    font-style: italic; 
    font-size: 23px;
}

.parte1 p{
    font-size: 15px;
    margin-top: 10px;
    line-height: 33px;
}

.parte2 {
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background: white;
}

.sobre-autor{
    float: left;
    max-width: 780px; /*erro 600px*/
    padding-left: 30px;
}

.wraper2{
   float: left;
}

.titulo-auto{ 
    float: left;
    width: 100%;
}

.titulo-autor h2{
    color: black;
    font-weight: 400;
    font-size: 21px;
    padding-right: 20px; 
}

.titulo-autor p{
    font-size: 13px;
    color: black;
    font-style: italic;
    font-weight: 300;

}

.titulo-autor .foto{
    background-image: url(../imagens/autor.png);
    background-size: 100% 100%;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    top: -12px;
    left: 10px;
}

.texto-autor{
    float: left;
    width: 100%;
    margin-top: 10px;
}

.texto-autor p{
   color: rgb(20, 62, 62);
   font-size: 15px;
   max-width: 400px; /* solução do texto-autor */ 
}

.slider-bullets{
    width: 100%;
    float: left;
    margin-top: 12px;
    /* margin-left: 30px; */
    padding-left: 30px; /*reslove o overflow */ 
}

.slider-bullets span{
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    border-radius: 8px;
    background-color: cadetblue;
    cursor: pointer;
}
/* Aqui estou começando a sessao 4*/
section.sessao4{
    background-color: #472663;
    padding:  100px 0;  
}

.form{
    float: left;
    width: 50%;
    color: white;
    padding-left: 10px;
    /* margin-left: 50px;*/
}


.form form{
    margin-top: 15px;
} 

.form h2{
    font-size: 23px;
    font-weight:  300;
}

.form p{
    font-size: 15px;
    font-weight: 300;
    max-width: 400px;
    padding: 10px;
}

.form form input[type=text]{
    width: 90%;
    max-width: 480px;
    margin-top: 5px;
    height: 58px;
    margin-top: 8px;
    padding-left: 8px;
    line-height: 58px;
    border: 3px solid rgb(200,200, 200);
}

.form form textarea{
    width: 90%;
    max-width: 480px;
    margin-top: 8px;
    padding: 15px;
    height: 160px; ;
    border: 3px solid rgb(200,200, 200);
}
 
/* input submit por padrão tem borda */
.form form input[type=submit]{ 
    background-color: #ff703d;
    width: 165px;
    height: 44px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 30px;
    border: 0;
}
.map-wraper{
    padding: 0 10px;
    float: left;
    width: 50%;
    color: white;
}

.map-wraper h2{
    font-size: 23px;
    font-weight: 300;
}

.map-wraper2{
    padding-top: 100%;
    width: 100%;  
    position: absolute;
    left: 0;
    top: 0;
}

.map-wraper3{
    margin-top: 10px;
    width: 100%;
    max-width: 480px;  
    position: relative;
}

.map{
    left: 0;
    top: 0;
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    border: 5px solid rgb(200, 200, 200);
}

footer{
    padding: 40px 2%;
    background: #192123;
    color: white;
}

footer p:nth-of-type(1){
    float: left;
    font-size: 14px;
}

footer p:nth-of-type(2){
    float: right;
    font-size: 14px;
}
      /*    * fim sessao 4     */


 @media screen and (max-width: 830px){ 
    
    .chamada1{
        max-width:none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 170px 0;
    }
    
    .chamada1 h2{
        font-size: 30px;
        color: white;
        font-weight: 300;
        padding: 0 0px;
    }
    
    .chamada1 p{
        font-size: 15px;
        color: white;
        margin-top: 10px;
    }

}

 @media screen and (max-width: 768px) {

   header .logo{
       position: relative; 
       top: -40px;
       width: 120px;
       height: 100px; 
    }

    nav.desktop-menu{
        display: none;
    }
    
    nav.mobile-menu{
        display: block;

    }

    .chamada1{
        max-width:none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 100px 0;
    }
    
    .chamada1 h2{
        font-size: 30px;
        color: white;
        font-weight: 300;
        padding: 0 0px;
    }
    
    .chamada1 p{
        font-size: 15px;
        color: white;
        margin-top: 10px;
    }
       
    header{
    width: 100%;
    padding: 40px 2%;
    height: auto;
    min-height: 90vh;
    }
   

    section.sessao1{
        padding: 40px 2%;
        height: auto;
        text-align: center;

    }
    .texto-sessao1{
        margin-top: 0;
        float: none;
        position: static;
        width: 100%;
        padding-left: 0;
        display: inline-block;
    }
    .divice-sessao1{
        display: none; /* some a imagem dos dispositivos */
    }
    .btn1-texto{
        display: inline-block;
    }
 
    .texto-sessao1 ul li{
        float: none;
        text-align: left;
    }
    .texto-sessao1 ul{
        display: inline-block;
        margin-top: 20px;
    }

    .sessao2{
        padding: 40px 2%;
     }

    section.sessao4 .container{
        text-align: center;
     }

    .form p{
        display: inline-block; /* referencia linha 347 */
        float: none;
    }

    .form{
        float: none;
        width: 100%;
    }

    .map-wraper{
        float: none;
        width: 100%;
        padding: 0 4%;
        margin-top: 40px;
   }  

   .map-wraper2{
    padding-top: 0;
    height: 100%;
    width: 100%;  
    position: absolute;
    left: 0;
    top: 0;
}

.map-wraper3{
    display: inline-block; /* centraliza */
    margin-top: 10px;
    width: 80%;
    padding-top: 80%;
    max-width: none;
    position: relative;
}


 }
 
 @media screen and (max-width: 580px) {
        .parte1{
            width: 100%;
            padding: 40px 0;
        }

        .parte2{
            width: 100%;
            padding: 40px 0;
        }

        .sessao2 img{
            top: 16px;
            margin-top: 20px;
        }
        
footer{
    text-align: center;
}

footer p:nth-of-type(1){
    float: none;
}

footer p:nth-of-type(2){
    float: none;
    margin-top: 8px;
}
 }      

